<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fc9e7480-e469-4137-bad4-1b5b3d3b6270/resourceGroups/chatapp/providers/Microsoft.Web/sites/chatapp2024</ResourceId>
    <ResourceGroup>chatapp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://chatapp2024-g4fpcbffa8dbdmay.southeastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>8dbc14f3-da21-4639-8eae-5cda9e41202f</ProjectGuid>
    <PublishUrl>https://chatapp2024-g4fpcbffa8dbdmay.scm.southeastasia-01.azurewebsites.net/</PublishUrl>
    <UserName>$chatapp2024</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>